[Unit]
Description=BitcoinAir daemon
After=network.target 
Conflicts=bitcoinaird-tor@%i.service

[Service]
User=%i
Group=users
Type=forking
Restart=always
RestartSec=15
ExecStart=/usr/bin/bitcoinaird -daemon
TimeoutStopSec=60s
TimeoutStartSec=2s

## security
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
